body {
    background-color: rgb(24, 22, 22);
    color: white;
    font-family: "Jost", sans-serif;
    margin-left: 5%;
    margin-right: 5%;
    height: 100%;
}

#index {
    display: grid;
    grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
    grid-template-rows: 325px 45px 0.5fr 5fr 2fr;
    grid-template-areas: "header header header header" "none nav nav nav" ". . . ." "introImg introImg introText introText" "footer footer footer footer";
    grid-column-gap:5%;
    grid-row-gap:1%;
    align-content: space-around;
}

.subHeading2 {
        text-align: center;
        color: white;
        font-size: 1.6em;
        font-family: "Chakra Petch", serif;
        text-decoration: underline;
}

hr {
    border-color: blueviolet;
}

/* Inicio CSS header */

header {
    grid-area: header;
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 10%;
}

header .bannerTitle {
    height:100%;
    font-family: "Abril Fatface", monospace;
    font-size: 200%;
    color: white;
    text-shadow: -1px 0 rgb(88, 6, 6), 0 1px rgb(88, 6, 6), 1px 0 rgb(88, 6, 6), 0 -1px rgb(88, 6, 6);
}

/* Fin CSS header */
/*-------------------------------------------*/
/* Inicio CSS nav */

nav {
    grid-area: nav;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-family: "Chakra Petch", serif;
    font-style: italic;
    font-size: 150%;
    background-color: black;
    border-bottom: 2px purple solid;
}

nav a {
    color: white;
    text-decoration:none;
}

nav a:hover {
    text-decoration:underline;
}

.paginaActual {
    font-weight: bolder;
}

/* Fin CSS nav */
/*-------------------------------------------*/
/* Inicio CSS index */

.introImg {
    grid-area: introImg;
    align-content: stretch;
}

.introImg img{
    width: 100%;
    justify-self: center;
}

.introText {
    grid-area: introText;
    background-color: rgb(88, 6, 6);
    border: dashed 5px rgb(55, 1, 1);
    border-radius: 5%;
    text-align: center;
    font-size: 190%;
    font-style: italic;
    padding-left: 5%;
    padding-right: 5%;
    height: 90%;
    align-items: center;
    align-self: center;
}

/* Fin CSS index */
/*-------------------------------------------*/
/* Inicio CSS Integrantes */

.integrantes {
    grid-area: integrantes
}

.integrante {
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    background-color: rgb(88, 6, 6);
    margin-left: 5.5%;
    margin-right: 5.5%;
    padding-left: 2.2%;
    padding-right: 2.2%;
    border: 4px dashed rgb(59, 1, 1);
    height: 25%;
    border-radius: 25px;
    margin-top: 3%;
    margin-bottom: 3%;
}

.integrante img {
    float: left;
    padding-top: 20px;
    border-radius: 800px;
    width: 150px;
    height: 150px;
}

.integrantes h2 {
    padding: 0%;
}

.integrantesText {
    text-align: justify;
    width: 70%;
}

.integrante h3 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 150%;
    text-decoration: underline;
    letter-spacing: 1.5px;
}

.origen .subHeading2 {
    font-size: 200%;
    text-decoration: underline;
}

.origen {
    text-align: center;
    background-color: rgb(88, 6, 6);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 9%;
    border: 4px dashed rgb(59, 1, 1);
}

.origen p {
    padding-left: 20px;
    padding-right: 20px;
}

/* Fin CSS Integrantes */
/*-------------------------------------------*/

.canciones h2 {
    color: white;
    font-size: 1.6em;
    font-family: "Chakra Petch", serif;
    text-decoration: underline;
    font-style: italic;
}

.canciones table {
    text-align: center;
    background-color: rgb(88, 6, 6);
    border-collapse: collapse;
    vertical-align: middle;
}

.songLink {
    width: 15%;
}

.songLink img {
    width: 25%;
    height: 25%;
}

.contactForm fieldset {
    width: 40%;
    margin-left: 28%;
    text-align: center;
}

.formLabel {
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
}

.contactForm fieldset legend {
    font-size: 1.3em;
    text-align: center;
}

.divisor hr {
    width: 50%;
    margin-left: 25%;
    margin-right: 50%;
    border-color: white;
}

.fechasText ul {
    list-style: none url(images/musicNote.png) inside;
    font-size: 1.4em;
}

.fechasText h2 {
    font-family: "Chakra Petch", sans-serif;
    text-decoration: underline;
}

.compraEntradas {
    text-align: center;
}

.compraEntradas h2 {
    margin-bottom: 0px;
    font-size: 2.3em;
    font-family: "Chakra Petch", sans-serif;
}

.redesSociales a img {
    width: 4%;
}

/* Inicio CSS footer */
footer {
    grid-area: footer;
    width:100%;
    text-align:center;
}

.redesSociales {
    justify-content: center;
    width:100%;
}

.redesSociales a img {
    width: 4%;
}

/* Fin CSS footer */

/* Code by Juan Manuel Eiroa :) */