/* Inicio CSS General */
body {
  background-color: #181616;
  color: white;
  font-family: "Jost", sans-serif;
  margin-left: 5%;
  margin-right: 5%;
  height: 100%; }

hr {
  border-color: blueviolet; }

.subHeading2 {
  text-align: center;
  color: white;
  font-size: 1.6em;
  font-family: "Chakra Petch", serif;
  text-decoration: underline; }

/* Fin CSS General */
/*-------------------------------------------*/
/* Inicio CSS Grids */
#index {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 325px 45px 0.5fr 5fr 2fr;
  grid-template-areas: "header header header header" "none nav nav nav" ". . . ." "introImg introImg introText introText" "footer footer footer footer";
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-content: space-around; }

#quienes {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 20.3em 2.8em 0.1fr 5fr 1.3fr;
  grid-template-areas: "header header header header" "none nav nav nav" ". . . ." "integrantes integrantes integrantes integrantes" "footer footer footer footer";
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-content: space-around; }

#canciones {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 20.3em 2.8em 0.1fr 5fr 1.3fr;
  grid-template-areas: "header header header header" "none nav nav nav" ". . . ." "canciones canciones canciones canciones" "footer footer footer footer";
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-content: space-around; }

#fechas {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 20.3em 2.8em 0.1fr 5fr 1.3fr;
  grid-template-areas: "header header header header" "none nav nav nav" ". . . ." "fechas fechas fechas fechas" "footer footer footer footer";
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-content: space-around; }

#contacto {
  display: grid;
  grid-template-columns: 1.5fr 0.5fr 1fr 1fr;
  grid-template-rows: 20.3em 2.8em 0.1fr 4fr 1.3fr;
  grid-template-areas: "header header header header" "none nav nav nav" ". . . ." "contactForm contactForm contactForm contactForm" "footer footer footer footer";
  grid-column-gap: 5%;
  grid-row-gap: 1%;
  align-content: space-around; }

/* Fin CSS Grids */
/*-------------------------------------------*/
/* Inicio CSS MediaQueries */
@media (max-width: 576px) {
  body {
    width: 100%; }
  nav {
    flex-wrap: nowrap;
    justify-items: center; }
    nav a {
      font-size: 70%; }
  #index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20.3em 2.8em 3fr 2fr 1.3fr;
    grid-template-areas: "header" "nav" "introText" "introImg" "footer";
    grid-row-gap: 1%;
    align-content: space-around;
    justify-content: stretch; }
  #quienes {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20.3em 2.8em 4fr 1.3fr;
    grid-template-areas: "header" "nav" "integrantes" "footer";
    grid-row-gap: 1%;
    align-content: space-around;
    justify-content: stretch; }
  #canciones {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20.3em 2.8em 4fr 1.3fr;
    grid-template-areas: "header" "nav" "canciones" "footer";
    grid-row-gap: 1%;
    align-content: space-around;
    justify-content: stretch; }
  #fechas {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20.3em 2.8em 4fr 1.3fr;
    grid-template-areas: "header" "nav" "fechas" "footer";
    grid-row-gap: 1%;
    align-content: space-around;
    justify-content: stretch; }
  #contacto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20.3em 2.8em 4fr 1.3fr;
    grid-template-areas: "header" "nav" "contactForm" "footer";
    grid-row-gap: 1%;
    align-content: space-around;
    justify-content: stretch; }
  .fechasText {
    text-align: center;
    font-size: 1em; } }

/* Fin CSS MediaQueries */
/*-------------------------------------------*/
/* Inicio CSS header */
header {
  grid-area: header;
  background-image: url(../../images/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0% 10%; }
  header .bannerTitle {
    height: 100%;
    font-family: "Abril Fatface", monospace;
    font-size: 200%;
    color: #e6d6d6;
    text-shadow: -1px 0 #580606, 0 1px #580606, 1px 0 #580606, 0 -1px #580606; }

/* Fin CSS header */
/*-------------------------------------------*/
/* Inicio CSS nav */
nav {
  grid-area: nav;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Chakra Petch", serif;
  font-style: italic;
  font-size: 150%;
  background-color: black;
  border-bottom: 2px purple solid; }
  nav a {
    color: white;
    text-decoration: none; }
  nav a:hover {
    text-decoration: underline;
    color: #690f0f; }
  nav .paginaActual {
    font-weight: bolder; }

/* Fin CSS nav */
/*-------------------------------------------*/
/* Inicio CSS Index */
.introImg {
  grid-area: introImg;
  align-content: stretch; }
  .introImg img {
    height: 100%;
    width: 100%;
    justify-self: center; }

.introText {
  grid-area: introText;
  background-color: #580606;
  border: 4px dashed #3b0101;
  border-radius: 5%;
  text-align: center;
  font-size: 190%;
  font-style: italic;
  padding-left: 5%;
  padding-right: 5%;
  height: 90%;
  align-items: center;
  align-self: center; }

/* Fin CSS Index */
/*-------------------------------------------*/
/* Inicio CSS Integrantes */
.integrante {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
  background-color: #580606;
  margin-left: 5.5%;
  margin-right: 5.5%;
  padding-left: 2.2%;
  padding-right: 2.2%;
  border: 4px dashed #3b0101;
  height: 25%;
  border-radius: 25px;
  margin-top: 3%;
  margin-bottom: 3%;
  transition: transform 1.5s; }
  .integrante img {
    float: left;
    padding-top: 20px;
    border-radius: 800px;
    height: 150px;
    width: 150px; }
  .integrante h3 {
    font-family: "Chakra Petch", sans-serif;
    font-size: 150%;
    text-decoration: underline;
    letter-spacing: 1.5px; }

.integrante:hover {
  transform: scale(1.1, 1.1); }

.integrantes {
  grid-area: integrantes; }
  .integrantes h2 {
    padding: 0%; }

.integrantesText {
  text-align: justify;
  width: 70%; }

.origen {
  text-align: center;
  background-color: #580606;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 9%;
  border: 4px dashed #3b0101; }
  .origen .subHeading2 {
    font-size: 200%;
    text-decoration: underline; }
  .origen p {
    padding-left: 20px;
    padding-right: 20px; }

/* Fin CSS Integrantes */
/*-------------------------------------------*/
/* Inicio CSS Canciones */
.canciones {
  grid-area: canciones; }
  .canciones h2 {
    color: white;
    font-family: 1.6em "Chakra Petch", serif;
    text-decoration: underline;
    font-style: italic; }
  .canciones table {
    text-align: center;
    background-color: #580606;
    border-collapse: collapse;
    vertical-align: middle; }
  .canciones .songLink {
    width: 15%; }
    .canciones .songLink img {
      height: 25%;
      width: 25%; }

/* Fin CSS Canciones */
/*-------------------------------------------*/
/* Inicio CSS Fechas */
.fechas {
  grid-area: fechas; }

.divisor hr {
  width: 50%;
  margin-left: 25%;
  margin-right: 50%;
  border-color: white; }

.fechasText ul {
  list-style: none url(../../images/musicNote.png) inside;
  font-size: 1.4em; }

.fechasText h2 {
  font-family: 1.6em "Chakra Petch", serif;
  text-decoration: underline; }

.compraEntradas {
  text-align: center; }
  .compraEntradas h2 {
    margin-bottom: 0px;
    font-size: 2.3em;
    font-family: "Chakra Petch", sans-serif; }

.downArrow {
  animation-name: downArrowMove;
  animation-iteration-count: infinite;
  animation-duration: 3s; }

@keyframes downArrowMove {
  0% {
    width: 4%; }
  25% {
    width: 5%; }
  50% {
    width: 4%; }
  75% {
    width: 5%; }
  100% {
    width: 4%; } }

/* Fin CSS Fechas */
/*-------------------------------------------*/
/* Inicio CSS Contacto */
.contactForm {
  grid-area: contactForm; }
  .contactForm fieldset {
    width: 40%;
    margin-left: 28%;
    text-align: center; }
    .contactForm fieldset legend {
      font-size: 1.3em;
      text-align: center; }

.formLabel {
  font-style: italic;
  font-weight: bolder;
  text-decoration: underline; }

/* Fin CSS Contacto */
/*-------------------------------------------*/
/* Inicio CSS footer */
footer {
  grid-area: footer;
  width: 100%;
  text-align: center; }
  footer .redesSociales {
    justify-content: center;
    width: 100%; }
    footer .redesSociales a img {
      width: 4%; }

/* Fin CSS footer */
/*-------------------------------------------*/
/* Code by Juan Manuel Eiroa :) */
